export(fetchArxiv)
export(fetchPubmed)
export(installPackages)
export(lloc)
export(loadLibrary)
export(multipleHist)
export(ploc)
export(removeSpaces)
export(sloc)
export(sloc.files)
export(updatePackages)
export(zoomPlot)
import(RCurl)
import(XML)
