export(fetchArxiv)
export(fetchPubmed)
export(installPackages)
export(lloc)
export(loadLibrary)
export(multipleHist)
export(ploc)
export(removeSpaces)
export(sloc)
export(sloc.files)
export(sourceLines)
export(updatePackages)
export(zoomPlot)
importFrom(RCurl,getURL)
importFrom(XML,xmlChildren)
importFrom(XML,xmlTreeParse)
importFrom(XML,xmlValue)
